.game-button {
    position: relative;
    width: 50%;
    max-height: 100px;
    overflow: hidden;
}

.game-button img {
    width: auto;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}
.tooltip {
     position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
    display: none;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    color: #fff; /* Ensure text color is white */
}

.game-button:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
    display: none;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    color: #fff; /* Ensure text color is white */
}
