.game-button {
    position: relative;
}

.tooltip {
    visibility: hidden;
    width: 200px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1000;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.game-button:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px; /* Adjust the width as needed */
    height: 200px; /* Adjust the height as needed */
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
    display: none;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}
